<header class="header">
    <div class="container-fluid characters-container">
      <div class="row">
        <form name="search">
          <div class="col-xs-6 col-sm-4 col-md-3 search-container">
            <div class="input-group">
              <input ng-model="ctrl.searchName"  type="text" class="form-control" placeholder="Search for character" >
              <span class="input-group-btn">
                <button ng-click="ctrl.search()" class="btn btn-primary"  type="button">Go!</button>
              </span>
            </div>
          </div>
        </form>
      </div>
  </header>