<section ng-controller="CharactersDetailsController as ctrl">
    <div class="jumbotron">
        <div class="grid-container">
            <h3 class="descriptionCharacter">{{ctrl.charactersDetails.description}}</h3>
            <img class="img-character " ng-src="{{ctrl.charactersDetails.thumbnail.path}}/landscape_xlarge.jpg" alt="">
            <h2 class="nameCharacter">{{ctrl.charactersDetails.name}}</h2>
        </div>
    </div>
        <div class="card-container ">
            <div class="card cards-diagonal col-md-4 col-xs-6 col-sm-4">
                <div class="card-inner"
                ng-click="ctrl.getComicsByCharacter(ctrl.characterId)">
                    <h1>Comics</h1>
                    <div class="card-body" >
                        {{ctrl.characterComicsCount.length}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container ">
            <div class="card cards-diagonal col-md-4 col-xs-12 col-sm-6">
                <div class="card-inner" 
                ng-click="ctrl.getStoriesByCharacter(ctrl.characterId)">
                    <h1>Stories</h1>
                    <div class="card-body">
                        {{ctrl.characterStoriesCount.length}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-container ">
            <div class="card cards-diagonal col-md-12 col-xs-12 col-sm-12">
                <div class="card-inner"  
                ng-click="ctrl.getSeriesByCharacter(ctrl.characterId)">
                    <h1>Series</h1>
                    <div class="card-body">
                        {{ctrl.characterSeriesCount.length}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="characterItem in ctrl.characterItems" 
        class="col-xs-6 col-sm-4 col-md-3">
        <list-character-items character-item="characterItem"></list-character-items>
      </div>
</section>