<section class="section-details" 
    ng-controller="CharactersDetailsController as ctrl">
    <div class="jumbotron">
        <div class="grid-container">
            <h3 class="descriptionCharacter">{{ctrl.charactersDetails.description}}</h3>
            <img class="img-character " ng-src="{{ctrl.charactersDetails.thumbnail.path}}/landscape_xlarge.jpg" alt="">
            <h2 class="nameCharacter">{{ctrl.charactersDetails.name}}</h2>
        </div>
    </div>
        <div class="container">
            <div class="card">
                <div class="box">
                <div class="content"
                ng-click="ctrl.getComicsByCharacter(ctrl.characterId)">
                    <h3>Comics</h3>
                    <h2 class="card-body" >
                        {{ctrl.characterComicsCount.length}}
                    </h2>
                </div>
            </div>
            </div>
            <div class="card">
                <div class="box">
                <div class="content"
                ng-click="ctrl.getStoriesByCharacter(ctrl.characterId)">
                    <h3>Stories</h3>
                    <h2 class="card-body">
                        {{ctrl.characterStoriesCount.length}}
                    </h2>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                <div class="content"
                ng-click="ctrl.getSeriesByCharacter(ctrl.characterId)">
                    <h3>Series</h2>
                    <h2 class="card-body">
                        {{ctrl.characterSeriesCount.length}}
                    </h2>
                </div>
            </div>
        </div>
        <div ng-repeat="characterItem in ctrl.characterItems" 
        class="col-xs-6 col-sm-4 col-md-3">
        <list-character-items character-item="characterItem"></list-character-items>
      </div>
</section>